<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Social distancing </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src = "https://d3js.org/d3.v4.min.js"></script> 
  <!-- Marker Cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  <!-- reference to Leaflet CSS -->
<link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css" />
</head>
<body>      
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Mountain climbing </a>
        </div>
      </div>
    </nav>
    <div class="col-md-12 jumbotron text-center">
      <h1>Social Distancing </h1>
      <!--<img class="nav-ufo" src="https://media.giphy.com/media/zJA5yw4qlvmaA/giphy.gif"> -->
      <p>Reach Healthy Highs !!! </p>
    </div>
    <div class="container">
      <div class="row margin-bottom-10">
        <div class="col-md-2">
          <table>
            <thead></thead>
            <tbody>
              <tr>
                <td><img src="static/images/city.png" width="100px"></td>
                <td>Wilderness Area</td>
              </tr>
              <tr>
                <td><img src="static/images/trail.png" width="75px"></td>
                <td>Hiking Trail</td>
              </tr>
              <tr>
                <td><img src="static/images/rock.png"  width="75px"></td>
                <td>Climbing Route</td>
              </tr>
              <tr>
                <td><img src="static/images/green.png" width="75px"></td>
                <td>Dispensary</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <div id="map" style="width: 1000px; height: 600px"></div>
  
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">City</th>
                  <th class="table-head">Lat</th>
                  <th class="table-head">Lon</th>
                </tr>
              </thead>
              <tbody>
                {% for ea in trail_data %}
                  <tr>
                    <td>{{ea['trial']}}</td>
                    <td>{{ea['lat']}}</td>
                    <td>{{ea['lon']}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
    </footer>
  </div>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Our JavaScript -->
  <!-- <script src="static/js/logic.js"></script> -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <!-- <script src="{{ url_for('static',filename='js/logic.js') }}"></script>   -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Marker Cluster JS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  </body>

</html>