<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Social Distancing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src = "https://d3js.org/d3.v4.min.js"></script> 
  <!-- Marker Cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  <!-- reference to Leaflet CSS -->
  <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>      
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Refresh</a>
        </div>
      </div>
    </nav>
    <div class="col-md-12 jumbotron text-center">
      <h1>Going the Social Distance</h1>
      <p>Reach Healthy Highs Under Blue Skies</p>
    </div>
    <div class="container" style="width:100%">
      <div class="row justify-content-md-center">
        <div class="col-md-3 col-lg-3 col-xl-3">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:20px;">Locations Available</div>
              <div class="panel-body">
                <div>Select from the dropdown or click a wilderness area to add routes and trails at your desired location.</div>
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <select id="selDataset" onchange="pickHere(this)"></select>
                      </li>
                    </ul>
                  </div>
                </form>
                <a href="/">Click here to start a new map</a>
              </div>
            </div>
          </aside>
          <table>
            <thead></thead>
            <tbody>
              <tr>
                <td id="legend-box"><img id="legend-img" src="static/images/city.png"></td>
                <td id="legend-text">Wilderness Area</td>
              </tr>
              <tr>
                <td id="legend-box"><img id="legend-img" src="static/images/rock.png"></td>
                <td id="legend-text">Climbing Route</td>
              </tr>
              <tr>
                <td id="legend-box"><img id="legend-img" src="static/images/trail.png"></td>
                <td id="legend-text">Hiking Trail</td>
              </tr>
              <tr>
                <td id="legend-box"><img id="legend-img" src="static/images/green.png"></td>
                <td id="legend-text">Dispensary</td>
              </tr>
            </tbody>
          </table>
          <br>
          <div>
            <h4>Trail Difficulty (by color)</h4>
            <ul style="list-style-type:square">
              <li id="diff-text">Green: EASY</li>
              <li id="diff-text">Green/Blue: EASY/INTERMEDIATE</li>
              <li id="diff-text">Blue: INTERMEDIATE</li>
              <li id="diff-text">Blue/Black: INTERMED/DIFFICULT</li>
              <li id="diff-text">Black: DIFFICULT</li>
              <li id="diff-text">Double Black: VERY DIFFICULT</li>
            </ul>
            <h4>Click 'Wilderness Area' icons on the map to see more data below.</h4>
            <!--img src="static/images/trail_difficulty_legend.png" width="100%"-->            
          </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xl-9">
          <div id="map" style="width:100%;"></div>
          <!-- div id="map" style="width: 1000px; height: 600px"></div-->
        </div>
      </div>
      <br>
      <div class = "row" style="margin-top:25px;">
        <div>
          <div class="tab col-md-6 col-lg-6 col-xl-6">
            <button class="tablinks" onclick="showChart(event, 'Trails')" id="defaultOpen">Trail Difficulty</button>
            <button class="tablinks" onclick="showChart(event, 'Routes')">Route Ratings</button>
            <button class="tablinks" onclick="showChart(event, 'Routes Pie')">Route Types</button>
            <br>
          </div>
          <div class="tab col-md-6 col-lg-6 col-xl-6" style="padding:5px">
            <br>
            <br>
            <div id="scatter" style="width:100%;height:100%"></div>
            <!--h4 style="color:black">Previously Selected Areas:</h4>
            <ul id="location-list"></ul-->
          </div>
        </div>
        <!-- Tab content -->
        <div id="Trails" class="tabcontent">
          <br>
          <br>
          <div id="trails-plot" style="width:50%"></div>
        </div>
        <div id="Routes" class="tabcontent">
          <br>
          <br>
          <div id="routes-plot" style="width:50%"></div>
        </div>
        <div id="Routes Pie" class="tabcontent">
          <br>
          <br>
          <div id="routes-pie" style="width:50%"></div>
        </div>
        <!--div class="col-md-6">
          Placeholder
        </div-->
        <!-- <div class = "col-md-4">
          <div id="trails-plot"></div>
        </div>
        <div class = "col-md-4">
          <div id="routes-plot"></div>
        </div>
        <div class = "col-md-4">
          <div id="routes-pie"></div>
        </div> -->
      </div>
    </div>
    <footer class="footer">
    </footer>

  </div>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Our JavaScript -->
  <!-- <script src="static/js/logic.js"></script> -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <!-- <script src="{{ url_for('static',filename='js/logic.js') }}"></script>   -->
  <!--script type="text/javascript" src="static/js/animate.js"></script-->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Marker Cluster JS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <!--Chart.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script>
  document.getElementById("defaultOpen").click();
  </script>
  
</body>

</html>